{
    "root": true,
    "parserOptions": {
        "sourceType": "module"
    },
    "extends": "eslint:recommended",
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "commonjs": true
    },
    "rules": {
        "indent": ["error", 4],
        "no-console": "off"
    }
}
